@page "/eec/ind_2"
@inject NavigationManager NavigationManager

<div>
    <div>
        <div>
            <h4><b>Перечень упражнений для самостоятельной работы</b></h4>
            <ol>
                <li>
                    <b>Новый вид документа</b><br />
                    <ul>
                        <li>Откройте <b>Справочник видов карточек</b>, выберите тип карточки <b>Документ</b>. Создайте новый вид документа <b>Заявка на командировку</b> (родительский вид – <b>Документ</b>).</li>
                        <li>Укажите в настройках вида (вкладка <b>Общие</b>) настройки наследования <b>Все собственные</b>.</li>
                    </ul>
                </li>
                <li>
                    <b>Настройка автомата состояний</b><br />
                    <ul>
                        <li>Откройте <b>Конструктор состояний</b>, выберите библиотеку <b>Базовые объекты</b> и вид карточки <b>Заявка на командировку</b>.</li>
                        <li>Создайте 4 состояния в соответствии со схемой: <b>Проект – На согласовании – На оформлении – Закрыто</b>.</li>
                        <li>
                            Создайте между состояниями операции и выберите их в качестве операций перехода:
                            <ol>
                                <li>На согласование</li>
                                <li>Остановить согласование</li>
                                <li>На оформление</li>
                                <li>Закрыть</li>
                                <li>
                                    Вернуть на оформление<br />
                                    <img src="/imgs/2.1.png" />
                                </li>
                            </ol>
                        </li>
                        <li>Создайте операцию редактирования <b>Редактирование полей</b>.</li>
                        <li>Для всех состояний сделайте все операции редактирования доступными (дополнительные ограничения будут отредактированы с помощью <b>Конструктора ролей</b>).</li>
                    </ul>
                </li>
                <li>
                    <b>Настройка разметки для карточки вида Заявка на командировку</b><br />
                    Проект (в рамках учебного примера создается только одна разметка):<br />
                    <img src="/imgs/2.2.png" />
                    <ol>
                        <li>Откройте Конструктор разметок, выберите библиотеку Базовые объекты и вид карточки – Заявка на командировку.</li>
                        <li>
                            Выберите Разметку 1. Создайте еще одну вкладку Файлы:<br />
                            <img src="/imgs/2.3.png" />
                        </li>
                        <li>
                            Перенесите на вкладку Файлы область основного и дополнительных файлов и область предварительного просмотра:<br />
                            <img src="/imgs/2.4.png" />
                        </li>
                        <li>
                            Удалите лишние группы и боковой сплиттер из разметки:<br />
                            <img src="/imgs/2.5.png" />
                            <img src="/imgs/2.6.png" />
                        </li>
                        <li>
                            Создайте Пустую ячейку над вкладками и новую вкладку Основная информация, чтобы получилось как на рисунке:<br />
                            <img src="/imgs/2.7.png" />
                            <img src="/imgs/2.8.png" />
                        </li>
                        <li>
                            На постоянную область карточки (над вкладками и над добавленной пустой ячейкой) добавьте следующие поля:<br />
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Наименование поля</th>
                                        <th>Элемент управления</th>
                                        <th>Секция</th>
                                        <th>Поле</th>
                                        <th>Дополнительно</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Вид</td>
                                        <td>Вид</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Состояние</td>
                                        <td>Просмотр состояния</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Название</td>
                                        <td>Строка</td>
                                        <td>Основная информация</td>
                                        <td>Название</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Номер заявки</td>
                                        <td>Нумератор</td>
                                        <td>Основная информация</td>
                                        <td>Регистрационный номер</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Дата создания</td>
                                        <td>Дата</td>
                                        <td>Основная информация</td>
                                        <td>Дата регистрации</td>
                                        <td>По умолчанию  установить «Сегодня»</td>
                                    </tr>
                                    <tr>
                                        <td>Автор заявки</td>
                                        <td>Сотрудник</td>
                                        <td>Основная информация</td>
                                        <td>Регистратор</td>
                                        <td>Отметить «текущий сотрудник»</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            Для полей Название, Номер заявки, Дата создания и Автор заявки в их Свойствах укажите операцию редактирования – Редактирование полей.<br />
                            <img src="/imgs/2.9.png" />
                        </li>
                        <li>
                            На вкладку Основная информация добавьте поля:<br />
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Наименование поля</th>
                                        <th>Элемент управления</th>
                                        <th>Секция</th>
                                        <th>Поле</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Даты командировки С:</td>
                                        <td>Дата</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>по: </td>
                                        <td>Дата</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Организация</td>
                                        <td>Подразделение контрагента</td>
                                        <td>Отправитель-контрагент</td>
                                        <td>Организация-отправитель</td>
                                    </tr>
                                    <tr>
                                        <td>Город</td>
                                        <td>Строка конструктора справочников</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Основание для поездки</td>
                                        <td>Текст</td>
                                        <td>Основная информация</td>
                                        <td>Содержание</td>
                                    </tr>
                                    <tr>
                                        <td>Кто оформляет</td>
                                        <td>Сотрудники</td>
                                        <td>Получатели</td>
                                        <td>Получатель</td>
                                    </tr>
                                    <tr>
                                        <td>Согласующий</td>
                                        <td>Сотрудники</td>
                                        <td>Согласующие</td>
                                        <td>Согласующие</td>
                                    </tr>
                                    <tr>
                                        <td>Билеты</td>
                                        <td>Список</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Командируемые</td>
                                        <td>Сотрудники</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            Для полей Даты командировки, Организация, Город, Основание для поездки и Командируемые в их Свойствах укажите операцию редактирования Редактирование полей.<br />
                            <img src="/imgs/2.10.png" />
                        </li>
                        <li>
                            Вызовите диалог редактирования динамических метаданных:<br />
                            <img src="/imgs/2.11.png" /><br />
                            <ol>
                                <li>
                                    Добавьте в секцию Основная информация динамические поля:<br />
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Наименование поля</th>
                                                <th>Тип</th>
                                                <th>Дополнительно</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Begin</td>
                                                <td>DateTime</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>End</td>
                                                <td>DateTime</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Tickets</td>
                                                <td>Enum</td>
                                                <td>Заполнить поле Перечисление значениями: Авиа; Поезд</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li>Добавьте динамическую секцию Travellers (секция должна быть создана в корне, т.е. на одном уровне с секцией Основная информация). Тип секции – table (коллекция).</li>
                                <li>
                                    Добавьте в секцию Travellers динамическое поле Traveller:<br />
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Наименование поля</th>
                                                <th>Тип</th>
                                                <th>Ссылка</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Traveller</td>
                                                <td>RefId</td>
                                                <td>Справочник сотрудников → Подразделения → Сотрудники</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ol>
                        </li>
                        <li>
                            Привяжите созданные динамические поля к ранее незаполненным полям разметки:<br />
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Наименование поля</th>
                                        <th>Элемент управления</th>
                                        <th>Секция</th>
                                        <th>Поле</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Даты командировки С:</td>
                                        <td>Дата</td>
                                        <td>Основная информация</td>
                                        <td>Begin</td>
                                    </tr>
                                    <tr>
                                        <td>по:</td>
                                        <td>Дата</td>
                                        <td>Основная информация</td>
                                        <td>End</td>
                                    </tr>
                                    <tr>
                                        <td>Билеты</td>
                                        <td>Список</td>
                                        <td>Основная информация</td>
                                        <td>Tickets</td>
                                    </tr>
                                    <tr>
                                        <td>Командируемые сотрудники</td>
                                        <td>Сотрудники</td>
                                        <td>Travellers</td>
                                        <td>Traveller</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            Разместите вкладку Файлы после вкладки Основная информация:<br />
                            <img src="/imgs/2.12.png"/>
                        </li>
                        <li>
                            Измените размер карточки:<br />
                            <img src="/imgs/2.13.png" />
                            <img src="/imgs/2.14.png" />
                            <img src="/imgs/2.15.png" />
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
        <div>
            <h4><b>Список контрольных вопросов</b></h4>
            <ol>
                <li>Чем вид карточки отличается от типа ?</li>
                <li>Какие особенности присущи автомату состояний ?</li>
                <li>Что такое динамические метаданные ?</li>
                <li>Как узнать роль некоторого пользователя в некоторой карточке документа ?</li>
                <li>Перечислите дочерние виды для Документа УД</li>
            </ol>
        </div>
    </div>
</div>
<div class="mb-3">
    <div>
        <button class="btn btn-outline-primary" @onclick='() => NavigationManager.NavigateTo("eec")'>Вернуться в главное меню</button>
    </div>
</div>

@code {

}
