@page "/eec/theory_2"
@inject NavigationManager NavigationManager

<div>
    <div class="mb-3 text-center">
        <h4><b>Конструкторы Docsvision 5</b></h4>
    </div>
    <div class="mb-3">
        С полным содержанием данного раздела можно ознакомиться <a href="theory_2.pdf" target="_blank">здесь</a>
    </div>
    <div>
        <h5><b>Краткое содержание</b></h5>
        <div>
            <ol>
                <li>
                    <div>Способы создания карточки:</div>
                    <ul>
                        <li>Копирование существующего вида карточки: позволяет перенести базовые настройки (справочники, состояния, ролевую модель). Веб-разметки нужно создавать заново.</li>
                        <li>Создание с нуля: используется, если нет сходства с существующими карточками.</li>
                    </ul>
                </li>
                <li>
                    <div>Настройка вида карточки:</div>
                    <ul>
                        <li>Для настройки нового вида открывается "Справочник видов карточек".</li>
                        <li>Настройки вида могут наследоваться от родительского вида или быть собственными. По умолчанию наследуются параметры ролей, состояний и разметок.</li>
                    </ul>
                </li>
                <li>
                    <div>Редактирование метаданных:</div>
                    <ul>
                        <li>Для хранения дополнительной информации создаются собственные поля карточки.</li>
                    </ul>
                </li>
                <li>
                    <div>Конструктор состояний:</div>
                    <ul>
                        <li>Создается автомат состояний карточки, определяющий переходы между ними.</li>
                        <li>Выбирается начальное состояние, которое отмечается цветом.</li>
                    </ul>
                </li>
                <li>
                    <div>Конструктор ролей:</div>
                    <ul>
                        <li>Создаются роли (например, "Автор", "Участник задания").</li>
                        <li>Настраивается матрица доступа, определяющая разрешенные операции для ролей.</li>
                        <li>Условия задаются как логические выражения (параметр – операция – значение).</li>
                    </ul>
                </li>
                <li>
                    <div>Конструктор ролей:</div>
                    <ul>
                        <li>Создаются роли (например, "Автор", "Участник задания").</li>
                        <li>Настраивается матрица доступа, определяющая разрешенные операции для ролей.</li>
                        <li>Условия задаются как логические выражения (параметр – операция – значение).</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</div>
<div>
    <div>
        <button class="btn btn-outline-primary" @onclick='() => NavigationManager.NavigateTo("eec")'>Вернуться в главное меню</button>
        <button class="btn btn-outline-primary" @onclick='() => NavigationManager.NavigateTo("eec/ind_2")'>Контрольные вопросы и самостоятельная работа</button>
    </div>
</div>

@code {
}
