@page "/biography"

<div class="mb-4">
    <HeaderComponent />
</div>

<div>
    <h5><b>Личностное становление</b></h5>
    <p>Родился 4 августа 2001 года в городе Краснодар. Большое влияние на мое становление оказали мои бабушка и дедушка по материнской линии. Я всегда с нетерпением ждал пятницу, потому что обычно в этот день недели я приезжал к бабушке и дедушке и проводил с ними выходные. Бабушка развивала во мне внимательность и пунктуальность, а благодаря дедушке я узнал о компьютерах и математике.</p>
    <p>Мое школьное образование проходило в МБОУ СОШ Гимназия №54. Особое влияние на меня оказали такие учителя, как Гаврикова Татьяна Ивановна(учитель математики) и Хапланова Ирина Александровна(учитель русского языка), которые вдохновляли своим подходом к обучению.</p>
    <h5><b>Профессиональное становление</b></h5>
    <p>Интерес к IT начал формироваться еще в школьные годы. Уже тогда мне моими любимыми предметами были математика и информатика.</p>
    <p>Мой выбор поступления в КубГУ был осознанным. После сдачи ЕГЭ я начал посещать основные университеты Краснодара, чтобы определиться с тем в какой вуз подать документы. После первых впечатлений от вузов я стал выбирать между КубГУ и КубГАУ, мое окончательное решение по итогу определили два момента: в КубГУ поступал мой лучший друг со школьных времен, а также среди всех краснодарских вузов в КубГУ был самый высокий проходной балл и в то время я думал, что это показатель, на который можно опираться при выборе. Из доступных направлений на ФКТиПМ выбор пал на ПМИ, потому что я гарантировано попадал в списки зачисленных после первой волны приема, к тому же на это направление поступал и мой друг.</p>
    <h5><b>Планы на будущее</b></h5>
    <p>На ближайшие годы я ставлю целью профессиональное и карьерное развитие в качестве разработчика ПО, в том числе изучение новых методик и паттернов программирования, фреймворков, технологий и языков программирования. В более долгосрочной перспективе планирую исследовать настолько много мест в России, насколько это возможно.</p>
</div>

@code {

}
