@page "/eec/ex1"
@inject NavigationManager NavigationManager

<div>
    <div>Вам нужно создать решение по обработке заявок, включающее в себя:</div>
    <ol>
        <li>Карточку заявки (разметка, роли, состояния)</li>
        <li>Подключить карточку задания На исполнение (из Управления документами) в карточку заявки</li>
    </ol>
    <div>Решение создается на основе карточек приложения «Управление документами»: используется схема данных базового объекта Документ (карточка заявки является новым видом карточки типа Документ).</div>
    <h5><b>Общее описание:</b></h5>
    <div>Пользователи заводят карточки заявок, заявки поступают на рассмотрение к диспетчеру, диспетчер обрабатывает заявку и назначает исполнителя (выдает задание), после исполнения заявки исполнитель переводит ее в состояние Выполнено, автор заявки подтверждает выполнение заявки, переводя ее в статус Закрыто, либо возвращая на рассмотрение. Администратор может в любой момент читать и редактировать карточку, а также вернуть ее на предыдущий этап обработки.</div>
    <h5><b>Настройки карточки заявки:</b></h5>
    <ol>
        <li>
            <div>Набор атрибутов в соответствии с таблицей:</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Название поля</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" colspan="2">Область постоянного просмотра</td>
                    </tr>
                    <tr>
                        <td>Вид</td>
                        <td>Вид документа</td>
                    </tr>
                    <tr>
                        <td>Состояние</td>
                        <td>Состояние документа</td>
                    </tr>
                    <tr>
                        <td>Номер заявки</td>
                        <td>Подключить нумератор для данного вида карточки (описание нумератора далее п.5), обязательное поле</td>
                    </tr>
                    <tr>
                        <td>Дата</td>
                        <td>Дата и время создания, по умолчанию заполняется текущими датой и временем</td>
                    </tr>
                    <tr>
                        <td>Автор</td>
                        <td>Автор заявки, по умолчанию подставляется текущий пользователь, не редактируемое поле</td>
                    </tr>
                    <tr>
                        <td>Подразделение</td>
                        <td>Подразделение автора, заполняется вручную</td>
                    </tr>
                    <tr>
                        <td>Вопрос</td>
                        <td>Текстовое поле, обязательно для заполнения</td>
                    </tr>
                    <tr>
                        <td>Номенклатура дел</td>
                        <td>Значение из конструктора справочников (см. п.6)</td>
                    </tr>
                    <tr>
                        <td>Тип вопроса</td>
                        <td>
                            Выпадающий список со значениями:<br />
                            Вопрос<br />
                            Ошибка<br />
                            Предложение<br />
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">Вкладка Комментарии</td>
                    </tr>
                    <tr>
                        <td>(нет названия)</td>
                        <td>Текстовое поле</td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">Вкладка Файлы и Ссылки</td>
                    </tr>
                    <tr>
                        <td>Файлы</td>
                        <td>Таблица, в которую можно добавлять файлы документов</td>
                    </tr>
                    <tr>
                        <td>Ссылки</td>
                        <td>Таблица, в которую можно добавлять ссылки на другие карточки</td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">Вкладка Задания</td>
                    </tr>
                    <tr>
                        <td>(нет названия)</td>
                        <td>Дерево исполнения, в котором Диспетчер может создавать и удалять задания</td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">Вкладка История</td>
                    </tr>
                    <tr>
                        <td>(нет названия)</td>
                        <td>Таблица, в которой отображаются действия с документом</td>
                    </tr>
                </tbody>
            </table>
            <div>Расположение атрибутов в соответствии с Вашими представлениями об удобстве и эргономике.</div>
        </li>
        <li>
            <div>Состояния жизненного цикла:</div>
            <ul>
                <li>Подготовка</li>
                <li>На рассмотрении</li>
                <li>На исполнении</li>
                <li>Выполнено</li>
                <li>Закрыто</li>
            </ul>
            <div>Переходы между состояния должны быть сделаны так, чтобы можно было пройти описанный выше сценарий.</div>
        </li>
        <li>
            <div>Роли:</div>
            <div>Автор – пользователь, создавший карточку: имеет любые права на редактирование карточки в состоянии Подготовка, в том числе присвоить номер карточке, права на отправку документа на рассмотрение, права перевести документ из состояния «Выполнено» в состояния «На рассмотрении» и «Закрыто», права на чтение в других состояниях, нет прав просматривать вкладку История.</div>
            <div>Диспетчер – пользователь, который получает карточку на рассмотрение и выдает задания исполнителям: имеет право на чтение карточки, заполнение номера карточки, внесение комментариев, выдачу заданий, перевод этап «На исполнении». Также может в любом состоянии, кроме «Подготовка», заполнить номенклатуру дел в карточке.</div>
            <div>Исполнитель – пользователь, получивший задание на исполнение (можно воспользоваться ролью из Управления документами – Участник задания по документу): имеет право на чтение карточки, может внести комментарий, исполнить задание, перевести заявку на этап «Выполнено».</div>
            <div>Администратор – пользователь, входящий в группу Администраторы (группу необходимо создать в Справочнике сотрудников): право чтение и на любые изменения карточек в любом состоянии.</div>
        </li>
        <li>
            <div>В карточке заявки на этапе «На рассмотрении» и «На исполнении» должна быть возможность создавать задания (из Управления документами). Создавать задания могут только роли Диспетчер и Администратор.</div>
        </li>
    </ol>
    <div class="mb-3">
        <div class="mb-2">
            <label for="report"><b>Загрузите свой отчет о работе:</b></label>
        </div>
        <input type="file" id="report" name="report" accept=".pdf, .docx" />
    </div>
    <div class="mb-3">
        <div><b>Шкала оценивания: 0-2, где:</b></div>
        <ul>
            <li>0 - не выполнен ни один из пунктов либо выполнен не корректно</li>
            <li>1 - корректно выполнен хотя бы один пункт</li>
            <li>2 - корректно выполнены оба пункта</li>
        </ul>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" @onclick='() => NavigationManager.NavigateTo("/eec")'>Вернуться в главное меню</button>
        <button class="btn btn-primary" @onclick='() => NavigationManager.NavigateTo("/eec/ex2")'>Следующее задание</button>
    </div>
</div>

@code {

}
