@page "/eec/ex3"
@inject NavigationManager NavigationManager

<div>
    <div>Вам нужно создать решение по обработке заявок, включающее в себя:</div>
    <ol>
        <li>Представление</li>
        <li>Поисковый запрос</li>
    </ol>
    <ol>
        <li>
            <div>Поисковые запросы и папки.</div>
            <div>Необходимо настроить виртуальные папки:</div>
            <div>Папки для Автора:</div>
            <ul>
                <li>Где он видит все созданные им заявки в состоянии отличном от Закрыто и Выполнено.</li>
                <li>Где он видит все созданные им заявки в состоянии Выполнено</li>
            </ul>
            <div>Папка для Диспетчера:</div>
            <ul>
                <li>Где он должен получить карточку заявки в состоянии На рассмотрении, где он указан в поле Получатель.</li>
            </ul>
            <div>Папка для Исполнителя:</div>
            <ul>
                <li>Где он видит свои неисполненные задания.</li>
            </ul>
        </li>
        <li>
            <div>Настроить представление, подключить его для папок Диспетчера и Автора:</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Название колонки</th>
                        <th>Номер</th>
                        <th>Дата</th>
                        <th>Автор</th>
                        <th>Исполнители</th>
                        <th>Вложения</th>
                        <th>Состояние</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Значение</td>
                        <td>Номер заявки</td>
                        <td>Дата регистрации</td>
                        <td>Автор заявки в формате "Фамилия И.О. (Должность)"</td>
                        <td>Исполнители заданий по заявке</td>
                        <td>Если в карточке заявки документа приложены файлы, то вывести значение «Да», если приложенных файлов нет, то значение «Нет»</td>
                        <td>Состояние заявки (русская локализация)</td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ol>
    <div class="mb-3">
        <div class="mb-2">
            <label for="report"><b>Загрузите свой отчет о работе:</b></label>
        </div>
        <input type="file" id="report" name="report" accept=".pdf, .docx" />
    </div>
    <div class="mb-3">
        <div><b>Шкала оценивания: 0-2, где:</b></div>
        <ul>
            <li>0 - не выполнен ни один из пунктов либо выполнен не корректно</li>
            <li>1 - корректно выполнен хотя бы один пункт</li>
            <li>2 - корректно выполнены оба пункта</li>
        </ul>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" @onclick='() => NavigationManager.NavigateTo("eec")'>Вернуться в главное меню</button>
        <button class="btn btn-primary" @onclick='() => NavigationManager.NavigateTo("eec/ex2")'>Предыдущее задание</button>
    </div>
</div>

@code {

}
