@page "/eec/ex2"
@inject NavigationManager NavigationManager

<div>
    <div>Вам нужно создать решение по обработке заявок, включающее в себя:</div>
    <ol>
        <li>Справочник (Конструктор справочников)</li>
        <li>Нумератор (Конструктор нумераторов)</li>
    </ol>
    <ol>
        <li>
            <div>Для карточки заявки нужно настроить нумератор и подключить его в карточку. Нумератор должен быть формата: ИТ-@("<порядковый номер>")/13</div>
        </li>
        <li>
            <div>Конструктор справочников</div>
            <div>Нужно создать в Конструкторе справочников новый узел справочника «Номенклатура дел».</div>
            <ul>
                <li>
                    <div>Для этого узла создать собственную карточку (1).</div>
                    <div>Поля карточки</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Название поля</th>
                                <th>Описание</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Номер дела</td>
                                <td>Значения поля будет содержать только целые числа (максимум 10 символов)</td>
                            </tr>
                            <tr>
                                <td>Индекс</td>
                                <td>Значения поля будет содержать цифры и буквы (максимум 10 символов)</td>
                            </tr>
                            <tr>
                                <td>Имя</td>
                                <td>Данное поле есть во всех карточках строки справочника по умолчанию</td>
                            </tr>
                            <tr>
                                <td>Подразделение</td>
                                <td>Данное поле есть во всех карточках строки справочника по умолчанию</td>
                            </tr>
                            <tr>
                                <td>Дата начала</td>
                                <td>Дата (без времени)</td>
                            </tr>
                            <tr>
                                <td>Дата завершения</td>
                                <td>Дата (без времени)</td>
                            </tr>
                            <tr>
                                <td>Описание</td>
                                <td>Текстовое поле</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <div>Настроить отображаемые поля для строк справочника (2):</div>
                    <div>Имя, Индекс, Номер дела, Дата начала, Дата завершения.</div>
                    <img src="/imgs/ex2.1.png"/>
                </li>
                <li>
                    <div>Завести несколько записей</div>
                </li>
            </ul>
        </li>
    </ol>
    <div class="mb-3">
        <div class="mb-2">
            <label for="report"><b>Загрузите свой отчет о работе:</b></label>
        </div>
        <input type="file" id="report" name="report" accept=".pdf, .docx" />
    </div>
    <div class="mb-3">
        <div><b>Шкала оценивания: 0-2, где:</b></div>
        <ul>
            <li>0 - не выполнен ни один из пунктов либо выполнен не корректно</li>
            <li>1 - корректно выполнен хотя бы один пункт</li>
            <li>2 - корректно выполнены оба пункта</li>
        </ul>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" @onclick='() => NavigationManager.NavigateTo("/eec")'>Вернуться в главное меню</button>
        <button class="btn btn-primary" @onclick='() => NavigationManager.NavigateTo("/eec/ex1")'>Предыдущее задание</button>
        <button class="btn btn-primary" @onclick='() => NavigationManager.NavigateTo("/eec/ex3")'>Следующее задание</button>
    </div>
</div>

@code {

}
