<table class="table table-hover">
    <tbody>
        <tr>
            <td>
                ФИО
            </td>
            <td>
                Козиев Артем 
            </td>
        </tr>
    </tbody>
</table>

@code {

}
