@page "/eec/ind_1"
@inject NavigationManager NavigationManager

<div>
    <div>
        <div>
            <h4><b>Перечень упражнений для самостоятельной работы</b></h4>
            <ol>
                <li>
                    <b>Настройка папок</b><br />
                    Создайте иерархию дерева папок
                    <ul>
                        <li>
                            Личные папки
                            <ul>
                                <li>
                                    Заявки на командировки
                                    <ul>
                                        <li>Оформить командировку</li>
                                        <li>Мои командировки за последний год</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>Поиск по категориям</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <b>Справочник сотрудников</b><br />
                    <ol>
                        <li>
                            Настройте карточку организации. Заполните ее поля, на вкладке <b>Настройки делопроизводства</b>
                            задайте <b>Корневую</b> и <b>Шаблонную</b> папки.<br />
                            <img src="imgs/1.1.png" />
                        </li>
                        <li>Создайте в организации карточки для 2 подразделений.</li>
                        <li>Создайте и заполните карточки для 2 сотрудников.</li>
                        <li>
                            Задайте личные папки сотрудников.<br />
                            <img src="imgs/1.2.png" />
                        </li>
                        <li>
                            В справочнике настройте <b>Отображаемые поля сотрудников</b> в соответствии с таблицей:<br />
                            <img src="imgs/1.3.png" />
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Справочник контрагентов</b><br />
                    <ol>
                        <li>Добавьте 2 новые организации контрагентов. Заполните карточки организаций.</li>
                        <li>Добавьте и заполните карточки сотрудников контрагентов.</li>
                        <li>Создайте новую группу и внесите в нее записи о контрагентах.</li>
                    </ol>
                </li>
            </ol>
        </div>
        <div>
            <h4><b>Список контрольных вопросов</b></h4>
            <ol>
                <li>Где можно создать "Личную папку" пользователя ?</li>
                <li>Какие типы секций существуют в Docsvision ?</li>
                <li>Чем виртуальная папка отличается от обычной ?</li>
                <li>Как создать пользовательскую карточку сотрудника ?</li>
                <li>Как создать пользовательскую карточку организации контрагента ?</li>
            </ol>
        </div>
    </div>
</div>

<div class="mb-3">
    <div>
        <button class="btn btn-outline-primary" @onclick='() => NavigationManager.NavigateTo("eec")'>Вернуться в главное меню</button>
    </div>
</div>

@code {

}
