@page "/eec/theory_1"
@inject NavigationManager NavigationManager

<div>
    <div class="mb-3 text-center">
        <h4><b>Общие сведения о системе DV 5</b></h4>
    </div>
    <div class="mb-3">
        С полным содержанием данного раздела можно ознакомиться <a href="theory_1.pdf" target="_blank">здесь</a>
    </div>
    <div>
        <h5><b>Краткое содержание</b></h5>
        <div>
            <ol>
                <li>
                    <div>Типы карточек:</div>
                    <ul>
                        <li>Карточки документов — создаются для различных сущностей (документов, заданий, согласований и т.п.).</li>
                        <li>Карточки справочников — хранят справочные данные (например, справочник сотрудников).</li>
                        <li>Системные карточки — служат для хранения вспомогательных данных.</li>
                    </ul>
                </li>
                <li>
                    <div>Библиотеки карточек:</div>
                    <ul>
                        <li>Логические наборы карточек, объединенные по функционалу (например, Workflow для управления бизнес-процессами, ApprovalDesigner для согласований).</li>
                    </ul>
                </li>
                <li>
                    <div>Структура карточки:</div>
                    <ul>
                        <li>
                            <div>Секции карточки — таблицы, в которых хранятся данные, могут быть трех типов:</div>
                            <ul>
                                <li>Структура: одна строка данных (например, основная информация).</li>
                                <li>Таблица: множество строк (например, список получателей).</li>
                                <li>Дерево: данные с иерархическими связями (например, подразделения в организации).</li>
                            </ul>
                        </li>
                        <li>Поля карточки — элементы таблиц, содержащие значения (числа, строки, ссылки на другие карточки).</li>
                    </ul>
                </li>
                <li>
                    <div>Взаимосвязи между секциями:</div>
                    <ul>
                        <li>Секции могут быть подчинены друг другу, а строки секций содержат служебные поля для идентификации (например, InstanceID, RowID, ParentRowID).</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</div>

<div>
    <div>
        <button class="btn btn-outline-primary" @onclick='() => NavigationManager.NavigateTo("eec")'>Вернуться в главное меню</button>
        <button class="btn btn-outline-primary" @onclick='() => NavigationManager.NavigateTo("eec/ind_1")'>Контрольные вопросы и самостоятельная работа</button>
    </div>
</div>

@code {
    
}
