@page "/links"

<div class="mb-4">
    <HeaderComponent />
</div>

<div>
    <ol>
        <h5><b>Ресурсы из Wikipedia</b></h5>
        <li>
            <a href="https://ru.wikipedia.org/wiki/WebAssembly">https://ru.wikipedia.org/wiki/WebAssembly</a><br />
            WebAssembly
        </li>
        <li>
            <a href="https://ru.wikipedia.org/wiki/OAuth">https://ru.wikipedia.org/wiki/OAuth</a><br />
            OAuth
        </li>
        <li>
            <a href="https://ru.wikipedia.org/wiki/OpenID">https://ru.wikipedia.org/wiki/OpenID</a><br />
            OpenID
        </li>
        <h5><b>Ресурсы по Blazor</b></h5>
        <li>
            <a href="https://metanit.com/sharp/blazor/">https://metanit.com/sharp/blazor/</a><br />
            Metanit
        </li>
        <li>
            <a href="https://blazorschool.com/">https://blazorschool.com/</a><br />
            Blazor school
        </li>
        <li>
            <a href="https://www.learnblazor.com/">https://www.learnblazor.com/</a><br />
            Learn blazor
        </li>
        <h5><b>Англоязычные ресурсы</b></h5>
        <li>
            <a href="https://datatracker.ietf.org/doc/html/rfc7636">https://datatracker.ietf.org/doc/html/rfc7636</a><br />
            Стандарт RFC 7636
        </li>
        <li>
            <a href="https://auth0.com/docs/get-started/authentication-and-authorization-flow/authorization-code-flow-with-pkce">https://auth0.com/docs/get-started/authentication-and-authorization-flow/authorization-code-flow-with-pkce</a><br />
            Описание потока кода авторизации с ключом подтверждения для обмена кодами
        </li>
        <li>
            <a href="https://learn.microsoft.com/en-us/ef/ef6/fundamentals/performance/perf-whitepaper?redirectedfrom=MSDN#22-factors-that-affect-view-generation-performance">https://learn.microsoft.com/en-us/ef/ef6/fundamentals/performance/perf-whitepaper?redirectedfrom=MSDN#22-factors-that-affect-view-generation-performance</a><br />
            Вопросы производительности для EF 4, 5 и 6
        </li>
        <li>
            <a href="https://firebirdsql.org/en/features/ ">https://firebirdsql.org/en/features/ </a><br />
            Документация по Firebird
        </li>
        <li>
            <a href="https://dev.mysql.com/doc/">https://dev.mysql.com/doc/</a><br />
            Документация по MySQL
        </li>
        <li>
            <a href="https://www.postgresql.org/docs/">https://www.postgresql.org/docs/</a><br />
            Документация по PostgreSQL
        </li>
        <li>
            <a href="https://www.entityframeworktutorial.net/">https://www.entityframeworktutorial.net/</a><br />
            Ресурс по изучению entity framework
        </li>
    </ol>
</div>

@code {

}
