@inject IStringLocalizer<LHeaderComponent> Localizer

<div>
	<div>
		<a href="imgs/ivanov_big.jpg">
			<img src="photo.jpg" width="180" height="240" title="Магистр КубГУ Козиев Артем Борисович" alt="Магистр КубГУ Козиев Артем Борисович" />
		</a>
	</div>
	<div>
		<h3>@Localizer["Fio"]</h3>
		<h4>Факультет компьютерных технологий и прикладной математики</h4>
		<h4>Кафедра информационных технологий</h4>
		<h4>Специальность: &laquo;Технологии программирования и разработки информационно-коммуникационных систем&raquo;</h4>
		<h4>Разработка программного средства в сфере исполнения заказов для назначения заказов курьерам</h4>
		<h4>Научный руководитель: канд. физ.–мат. наук, доц. Лукащик Елена Павловна</h4>
	</div>
</div>

@code {
	
}
