@page "/eec/ind_3"
@inject NavigationManager NavigationManager

<div>
    <div>
        <div>
            <h4><b>Перечень упражнений для самостоятельной работы</b></h4>
            <ol>
                <li>
                    <b>Поисковые запросы</b><br />
                    Создайте поисковые запросы для виртуальных папок:
                    <ol>
                        <li>
                            Я – согласую командировку. Поиск документов-заявок, где текущий сотрудник указан согласующим:<br />
                            <img src="/imgs/3.1.png" />
                        </li>
                        <li>
                            Я – оформляю командировку. Поиск документов-заявок, где текущий сотрудник указан оформляющим:<br />
                            <img src="/imgs/3.2.png" />
                        </li>
                        <li>
                            Мои командировки за последний год. Поиск документов-заявок, созданных за последний календарный год, где текущий сотрудник является автором:<br />
                            <img src="/imgs/3.3.png" /><br />
                            Чтобы задать поиск документов за последний год, укажите поисковое слово «Сегодня» минус 365 дней:<br />
                            <img src="/imgs/3.4.png" />
                        </li>
                        <li>Поиск Заявок на командировку: настройте самостоятельно параметрический поиск и форму для 5 атрибутов (произвольных) из карточки Заявка на командировку.<br /></li>
                    </ol>
                </li>
                <li>
                    <b>Настройка прав доступа</b><br />
                    <ol>
                        <li>Создайте стандартную папку Справочники и разметите в нее ярлык на Справочники сотрудников и контрагентов.</li>
                        <li>Настройте ограничение доступа к Справочнику сотрудников: 1 пользователь может изменять, все остальные (группа Все) могут его только читать.</li>
                    </ol>
                </li>
                <li>
                    <b>Конструктор правил нумерации</b><br />
                    <ol>
                        <li>Создайте новое правило для типа карточки Документ. Назовите правило Заявка на командировку.</li>
                        <li>Добавьте новую запись в выбранное правило.</li>
                        <li>Задайте суффикс: /2018</li>
                        <li>Создайте новый нумератор, заполнить диапазон и владельца диапазона, зону, определить настройку обновления зон нумератора.</li>
                        <li>Зайдите в Конструктор разметок и в свойствах поля Номер в карточке Заявка на командировку укажите созданный нумератор.</li>
                    </ol>
                </li>
            </ol>
        </div>
        <div>
            <h4><b>Список контрольных вопросов</b></h4>
            <ol>
                <li>Перечислить возможности поиска в системе</li>
                <li>Где модифицируется XML поискового запроса ?</li>
                <li>Перечислить все виды безопасности в системе</li>
                <li>Как выполнить настройку шаблона для экспорта представления в Excel ?</li>
                <li>Какие виды ссылок сущестуют в системе ?</li>
            </ol>
        </div>
    </div>
</div>
<div class="mb-3">
    <div>
        <button class="btn btn-outline-primary" @onclick='() => NavigationManager.NavigateTo("/eec")'>Вернуться в главное меню</button>
    </div>
</div>

@code {

}
