@page "/eec"

<PageTitle>ЭУМК</PageTitle>

<div>
    <div class="text-center">
        <h4><b>Электронный учебно-методический комплекс по дисциплине "Современные системы электронного документооборота"</b></h4>
    </div>
    <div>
        <h5><b>Аннотация</b></h5>
        <div>Программа направлена на формирование у слушателей глубокого понимания основ конструирования решений в системе Docsvision. Участники овладеют навыками настройки и разработки всех ключевых элементов платформы, включая карточки, папки, представления, поисковые запросы, справочники, экранные формы карточек. Особое внимание уделено созданию и управлению ролевыми моделями, а также другим функциональным элементам, необходимым для разработки комплексных решений на базе системы Docsvision.</div>
    </div>
    <p>Ознакомиться с рабочей учебной программой по данной дисциплине можно <a href="/Curriculum.pdf" target="_blank">здесь</a></p>
    <h5><b>Программа курса</b></h5>
    <ul class="list-group">
        @for(int i = 0; i < Elements.Count; i++)
        {
            <ContentComponent Id="i + 1" Header="@Elements[i].Header" Body="@Elements[i].Body" URL="@Elements[i].URL" />
        }
    </ul>
    <span>@@Artyom Koziev</span>
</div>

@code {
    public List<ContentElement> Elements { get; set; }

    protected override Task OnInitializedAsync()
    {
        Elements = new List<ContentElement>()
        {
            new ContentElement()
            {
                Header = "Общие сведения о системе DV 5",
                Body = "Настройки Навигатора, Настройки папок, Работа со справочником, Схема карточки",
                URL = "/eec/theory_1"
            },
            new ContentElement()
            {
                Header = "Конструкторы Docsvision 5",
                Body = "Базовые виды карточек, Создание видов карточек, Конструирование автомата состояний карточек, Конструирование разметок карточек, Конструирование ролевой модели карточек",
                URL = "/eec/theory_2"
            },
            new ContentElement()
            {
                Header = "Настройка инфраструктуры решения",
                Body = "Настройка представлений, Настройка поиска, Настройка правил нумерации, Настройка категорий, Настройка ссылок, Создание справочников, Настройка прав",
                URL = "/eec/theory_3"
            },
            new ContentElement()
            {
                Header = "Итоговый тест",
                Body = "Итоговое тестирование по пройденным разделам. Для успешного прохождения итогового теста необходимо правильно ответить минимум на 60% вопросов",
                URL = "/eec/test"
            },
            new ContentElement()
            {
                Header = "Практическое задание 1",
                Body = "Нужно создать решение по обработке заявок, включающее в себя: карточку заявки (разметка, роли, состояния) и подключить карточку задания На исполнение (из Управления документами) в карточку заявки",
                URL = "/eec/ex1"
            },
            new ContentElement()
            {
                Header = "Практическое задание 2",
                Body = "Нужно создать решение по обработке заявок, включающее в себя: справочник (Конструктор справочников) и нумератор (Конструктор нумераторов)",
                URL = "/eec/ex2"
            },
            new ContentElement()
            {
                Header = "Практическое задание 3",
                Body = "Нужно создать решение по обработке заявок, включающее в себя: представление и поисковый запрос",
                URL = "/eec/ex3"
            }
        };
        return base.OnInitializedAsync();
    }
}
