@page "/report"

<div class="mb-4">
    <HeaderComponent />
</div>

<p>Перед началом поиска информации по теме выпускной работы необходимо составить перечень из 5 поисковых фраз на русском и английском языках:</p>
<ol>
    <li>разработка программного обеспечения для автоматизации бизнес-процессов в сфере исполнения заказов / Development of software for automation of business processes in the field of order fulfillment;</li>
    <li>Лукащик Елена Павловна / Lukashchik Elena Pavlovna;</li>
    <li>бизнес процессы в сфере исполнения заказов / business processes in the field of order fulfillment;</li>
    <li>сравнение blazor webassembly и blazor server / comparison of blazor webassembly and blazor server;</li>
    <li>расчет дохода курьера за заказ / calculation of courier revenue per order.</li>
</ol>
<p>Затем выполняем запросы в 3 поисковых системах:</p>
<ul>
    <li>Google;</li>
    <li>Yandex;</li>
    <li>Bing.</li>
</ul>
<p>Перед выполнением запросов на английском языке в поисковых необходимо настроить язык, на котором будет выполняться поиск (рис. 1-3).</p>
<div class="text-center">
    <img src="imgs/pic4.png" title="Рисунок 1 - Настройка языка поиска в Yandex" alt="Рисунок 1 - Настройка языка поиска в Yandex" />
    <p>Рисунок 1 - Настройка языка поиска в Yandex</p>
</div>
<div class="text-center">
    <img src="imgs/pic5.png" title="Рисунок 2 – Настройка языка поиска в Google" alt="Рисунок 2 – Настройка языка поиска в Google" />
    <p>Рисунок 2 – Настройка языка поиска в Google</p>
</div>
<div class="text-center">
    <img src="imgs/pic6.png" title="Рисунок 3 – Настройка языка поиска в Bing" alt="Рисунок 3 – Настройка языка поиска в Bing" />
    <p>Рисунок 3 – Настройка языка поиска в Bing</p>
</div>
<p>Собрав информацию о количестве найденных документов и ссылки на документы, составим таблицу, изображенную на рисунке 4.</p>
<div class="text-center">
    <img src="imgs/pic7.png" title="Рисунок 4 – Таблица результатов мультиязычного информационного поиска" alt="Рисунок 4 – Таблица результатов мультиязычного информационного поиска" />
    <p>Рисунок 4 – Таблица результатов мультиязычного информационного поиска</p>
</div>
<p>Заметим, что в столбце Документы зеленым помечены те запросы, которые дали значительно больший результат относительно большинства запросов в своей языковой группе.</p>
<p>Итог: из данных, представленных на рисунке 4, видно, что максимальное количество документов достигается в Google, однако в некоторых случаях данная поисковая система уступает остальным системам.</p>

@code {

}
