@page "/library"

<PageTitle>Библиотека Козиева АБ Разработка программного средства в сфере исполнения заказов для назначения заказов курьерам</PageTitle>

<div class="mb-4">
    <HeaderComponent />
</div>

<div>
    <h5><b>Собственные публикации и доклады</b></h5>
    <ol>
        <li>
            <a href="library/1">Приложение автоматизации учета выполненной работы на подготовительных курсах вуза</a><br />
            <b>Авторы:</b> Козиев.А.Б., В.В. Подколзин<br />
            <b>Описание:</b> В рамках данной работы рассматриваются вопросы разработки настольного приложения на языке программирования C#, реализующего инструментарий выполнения бизнес-процессов приемной комиссии.<br />
            <b>Источник:</b> Прикладная математика: современные проблемы математики, информатики и моделирования: материалы V Всероссийской научно-практической конференции, молодых ученых, г. Краснодар, 11–15 апреля 2023 г. Краснодарский ЦНТИ – филиал ФГБУ «РЭА», 2023 С. 335-339<br />
        </li>
    </ol>
</div>

@code {
}
