@inherits LayoutComponentBase
<div class="row">
    <div class="col-2">
        <div class="sidebar h-100">
            <NavMenu />
        </div>
    </div>
    <div class="col-10 row">
        <main>
            <article class="content">
                @Body
            </article>
        </main>
    </div>
</div>
@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div>
        <HeaderComponent />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@
